html {
    font-size: 10px;
    --orange: #FFB742;
    --white: #FFFFFF;
    --black: #000000;

}

body {
    margin: 0;
    background: #E5E5E5;
    min-height: 1000px;
}

ul {
    padding: 0%;
}

/*header start*/

.header {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    height: 6.6rem;
    padding-top: .5rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.logo {
    background-image: url("../img/Frame\ 7.png");
    background-repeat: no-repeat;
    width: 9rem;
    height: 6rem;
    display: inline-block
}

a {
    text-decoration: none;
    color: var(--white)
}

.ul_1 {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    align-self: center;
}

li {
    list-style: none;

}

.li_1 {
    margin: 0 2.5rem;
}

.div_Hire_me {
    font-weight: 700;
    font-size: 1.8rem;
}

.Hire_me {
    background-color: #292B2E;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 50px;

}

.div_Hire_me:hover .Hire_me {
    background-color: var(--orange);
    color: #212529;
    transition: all .5s;
}

.li_1:hover .a_1 {
    color: var(--orange);
    transition: all .5s;
}



/*main start*/
/* cv start*/
.cv {
    width: 80%;
    margin: 0 auto;
    height: 45rem;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 12rem;

}

.name {
    font-size: 3.2rem;
    font-weight: 700;

    color: var(--white);
}

.name_orange {
    color: var(--orange);
    text-decoration: solid;

}

.subname_1 {
    font-size: 4.8rem;
    font-weight: 700;

}

.subname_2 {
    font-size: 2.4rem;
    font-weight: 400;
}

/*all cards start*/
.all_cards {
    display: flex;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.cards {
    width: 30%;
    height: 12rem;
    background: #292B2E;
    border-radius: 10px;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s;
    cursor: pointer;

}

.cards:hover {
    background-color: var(--orange);
}

.incards_1 {
    color: var(--orange);
    font-size: 3.2rem;
    text-align: center;
}

.incards_2 {
    font-size: 1.6rem;

}

.cards:hover .incards_1,
.cards:hover .incards_2 {
    color: var(--black)
}

/*baner start*/
.all_baner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10rem;

}

.baner {
    width: 40%;

}

.baner_2 {
    width: 40%;
}

.who_i_am {
    background: rgba(255, 255, 255, 0.20);
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--orange);
}

.title {
    font-size: 4.8rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: var(--white);

}

.sub_title {
    font-size: 1.6;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #D4D4D4;
    margin-top: 3rem;
    margin-bottom: 6.5rem;
    width: 80%;


}

.Hire_me_2 {
    background-color: #292B2E;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.baner_2:hover .Hire_me_2 {
    color: #212529;
    background-color: var(--orange);
    transition: .5s;
    cursor: pointer;
}

/*Me works start*/
.all_works {
    display: flex;

    justify-content: center;
    flex-flow: column;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.me_works {
    background: rgba(255, 255, 255, 0.20);
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--orange);

}

.sub_works {
    font-size: 4.8rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

.ul_2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
}

.li_2 {
    margin: 0 3.5rem;

}

.a_2 {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 3px;
}

.li_2:hover .a_2 {
    background-color: var(--orange);
    color: #212529;
    transition: all .5s;
}

/* cards_img_start*/


.cards_img_level_1 {
    display: flex;
    justify-content: center;

}

.cards_img {
    width: 29%;
    margin: 1.5rem;
    border-radius: 5.27027px;

}

/*footer start*/

footer {
    width: 100%;
    height: 30rem;
    background-color: #1C1C1C;
    margin-top: 12rem;
    display: flex;
    justify-content: space-around;
    padding-top: 14.8rem;
   
    
}
.info_4{
    width: 22.5%;
}
.name_footer {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--orange)
}
.sub_name{
    padding-top: 3.5rem;
    width:74%
}

.sub_name_footer {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #D4D4D4;

}

.links,.media,.newsletter {
    font-size: 2.1rem;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: #F5FBF2;
}
.sub_links>li>a,.sub_media>li>a,.sub_news{
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    color: #7B7B7B;

}
.sub_links>li,.sub_media>li{
    margin:1.3rem 0;
}
.sub_news_2{
    padding-top: .8rem;
    width: 95%;
}

  .li_3:hover .a_3{
    color: var(--orange);
    transition: all .5s;
  }

    
