html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    --color_line: #FFA500;
    --color-clik: #00BFFF;
    --color-white: #FFFFFF;
    --colir-header: #155767;
    --color-black: #000000;
    --color-border: #707070;

}

/*використав vh - vw так як з адаптивністю 
при зміні розміру виходить просто чудово
+відцентрував і взагалі як намене добре вийшло  */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;

}

.page_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;

}

.emblem {
    padding-right: 5%;
    box-sizing: border-box;
    padding-bottom: 20%;
}

.line {
    border-left: 10px solid var(--color_line);
    height: 80%;

}

/*form start*/
.info {
    padding-left: 5%;
    box-sizing: border-box;


}

.input_page_1 {
    width: 52.2rem;
    height: 8.6rem;
    border: 1px solid #707070;
    padding-left: 10%;
    box-sizing: border-box;

}

.form_0 {
    display: flex;
    flex-flow: column;
    padding-top: 35%;
    box-sizing: border-box;

}

.form_1 {
    padding-top: 4%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

.lable_page_1 {
    font-size: 2.8rem;
    font-weight: 400;
    color: #969697;
    padding-left: 3%;
    box-sizing: border-box;
}

/*button start*/
.button {
    box-sizing: border-box;
    padding-top: 16%;
    float: right;
}


.clik {
    display: inline-block;
    background-color: var(--color-clik);
    padding: 3.3rem 11.1rem;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 2.4rem;
    font-weight: 700;
    color: black;
}

.forgot {
    font-size: 1.8rem;
    font-weight: 400;
    color: #969697;
    width: 15rem;
    height: 10rem;
    text-align: center;
    padding-top: 64rem;
    box-sizing: border-box;
}

/*pag 2 start*/
.page_2 {
    padding: 3rem;
}

/*header start*/
.header {
    width: 100%;
    display: flex;
}

.one {
    width: 14%;
    height: 10.2rem;
    background-color: var(--color-white);
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
}

.two {
    width: 100%;
    height: 10.2rem;
    background-color: var(--colir-header);
    border: 1px solid #707070;
    box-shadow: 4px 6px 8px 1px rgb(0 0 0 / 35%);
}

.navigait {
    display: flex;
    justify-content: space-between;
    align-items: center;



}



.icon_navigait_2 {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-white);


}

.icon_navigait_2>a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}




.icon_navigait_4 {
    padding-right: 3.7rem;
    box-sizing: border-box;
}

/*sub header button start*/
.button_2 {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-top: 1.5%;
    box-sizing: border-box;

}


.sub_header {
    font-size: 2rem;
    font-weight: 700;
    color: #F7F7F9;
    background-color: var(--color-clik);
    padding: 2rem;
    box-sizing: border-box;

}

.sub_header_2 {
    background-color: black;
    padding: 2rem;
    box-sizing: border-box;

}

/*section start*/
.all_section {
    width: 100%;
    display: flex;
    padding-top: 1.5%;

}

/*saction_1 start*/
.section_1 {
    width: 30%;
    border: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
}

.section_1>ul>li>a {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-black);
    padding: 0rem 1.5rem;
    box-sizing: border-box;



}

.section_1>ul>li>a.font_w {
    font-weight: 700;
}

.li_1 {
    list-style-image: url("../imge/Icon\ material-dashboard.png");
}

.li_2 {
    list-style-image: url("../imge/Icon\ awesome-dice-four.png");
}

.li_3 {
    list-style-image: url("../imge/Polygon\ 3.png");
}

.li_4 {
    list-style-image: url("../imge/Icon\ material-group.png");
}

.li_5 {
    list-style-image: url("../imge/Icon\ material-settings-remote.png");
}

.li_6 {
    list-style-image: url("../imge/Icon\ material-report.png");
}

.li_1,
.li_2,
.li_3,
.li_4,
.li_5,
.li_6 {
    padding-top: 3rem;
}

/*saction_2 start*/
.section_2 {
    width: 70%;
    border: 1px solid var(--color-border);
    display: flex;

}

.box_form_page_2 {
    width: 100%;
}

.rest_sub {
    display: flex;
    justify-content: space-between;


}

.add_cpo {
    font-size: 2.4rem;
    font-weight: 700;
    color: #969697;
    display: flex;
    align-items: baseline;
    padding-left: 2%;
}

.reset {
    padding-top: 1%;
    padding-right: 2%;
}


input[type="reset"],
input[type="submit"] {
    display: none;
}

.label_reset_page_2 {
    display: inline-block;
    width: 14rem;
    background-color: #A2A3A4;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    box-sizing: border-box;
    color: white;

}

.label_submit_page_2 {
    display: inline-block;
    width: 14rem;
    background-color: var(--color-clik);
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    box-sizing: border-box;
    color: white;

}

.form_page_2 {
    margin-top: 2.4rem;
    display: flex;
    flex-flow: column;
    padding-left: 3rem;


}

.lable_page_2 {
    font-size: 2rem;
    font-weight: 300;
    color: #969697;
    padding-left: 1%;
    box-sizing: border-box;
}

.input_page_2 {
    width: 55%;
    height: 3rem;
    border: 1px solid #707070;
    padding-left: 3%;
    box-sizing: border-box;
    outline: none;

}


.cod_id {
    display: flex;
    width: 100%;


}

.input_page_2_cod {
    width: 100%;
    height: 3rem;
    border: 1px solid #707070;
    padding-left: 3%;
    box-sizing: border-box;

}

.input_page_2_id {
    width: 100%;
    height: 3rem;
    border: 1px solid #707070;
    padding-left: 3%;
    box-sizing: border-box;
}

div.cod_id>.cod {
    /* При ширені екрану 1400px співпадає за довжиною інпутів  далі збільшуєцє при збільшені екрану  */
    padding-right: 14.5%;
}

.input_generate {
    display: flex;
    align-items: center;
}

.local_token {
    width: 31%;
    padding-bottom: ;
}

.generate {
    background-color: #00BFFF;
    font-size: 2rem;
    font-weight: 700;
    padding: 0% 1%;

}

div.input_generate>a.generate>img {
    padding-right: 1rem;
    padding-top: 0.3rem;
}

.padding_bottom {
    padding-bottom: 5%;
}

/*page_3 start*/
.page_3 {
    padding: 3rem;

}

.section_1>ul>li>a.font_w {
    font-weight: 700;
}

/*button start*/
.button_2_page_3 {
    display: flex;
    justify-content: end;
    padding-top: 1%;
    padding-right: 1%;
    box-sizing: border-box;

}

.sub_header_page_3 {
    font-size: 2rem;
    font-weight: 700;
    color: #F7F7F9;
    background-color: var(--color-clik);
    padding: 1.5rem;
    box-sizing: border-box;

}

.sub_header_2_page_3 {
    background-color: black;
    padding: 1rem;
    box-sizing: border-box;
}

/*status_search start*/
.status_search {
    display: flex;
    padding-left: 3rem;
    padding-top: 7rem;


}

.status {
    outline: none;
    padding-left: 3rem;
    font-size: 2rem;
    font-weight: 300;
    padding-left: 2rem;
    padding: 1rem 0rem;
    border: 1px solid #707070;
    text-align: center;
    width: 60%;



}


.search {
    background-image: url(../imge/Icon\ awesome-search.png);
    background-repeat: no-repeat;
    background-position: .4rem;
    outline: none;
    /*забирає стандартне обведення від браузера*/
    padding-left: 4.6rem;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 0rem;
    border: 1px solid #707070;
    width: 100%;
    padding-left: 5rem;


}

/*table start*/
.table_page_3 {
    width: 100%;
    padding-top: 5rem;
}

.tr_page_3 {
    display: flex;
    justify-content: space-evenly;
}

.th_page_3 {
    font-size: 2rem;
    font-weight: 400;
    color: #969697;

}

.section_1_page_3 {
    padding-bottom: 14rem;
}

/* Page_4 start */
.page_4 {
    padding: 3rem;
}

.all_section_apge_4 {
    width: 100%;
    display: flex;
    padding-top: 5%;

}

.digital {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-black);
    margin-left: 3rem;

}

.status_search_page_4 {
    display: flex;
    width: 100%;
    padding-top: 4rem;

}

.div_status_page_4 {
    width: 35%;
    padding-left: 3rem;

}

.status_page_4 {
    width: 90%;
    background-image: url(../imge/Icon\ awesome-caret-down.png);
    background-repeat: no-repeat;
    background-position: .4rem;
    background-position-x: right;
    outline: none;
    /*забирає стандартне обведення від браузера*/
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 0rem;
    border: 1px solid #707070;
    padding-left: 2%;

}

.div_search_page_4 {
    width: 60%;


}

.search_page_4 {
    width: 100%;
    background-image: url(../imge/Icon\ awesome-search.png);
    background-repeat: no-repeat;
    background-position: .4rem;
    outline: none;
    padding-left: 4.6rem;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem 0rem;
    border: 1px solid #707070;
    padding-left: 5rem;

}

/*
     table start
*/
.table_page_4 {
    width: 100%;
    padding: 0% 2%;
    padding-top: 5rem;
    text-align: center;
}

.tr_page_4 {}

.th_page_4 {
    font-size: 2rem;
    font-weight: 700;
    color: #A5A5A5;

}

.tbody_page_4 {
    background: rgba(214, 214, 214, 0.16);
    padding-top: 1rem;
}

.tbody_tr_page_4 {}

.td_page_4 {
    font-size: 2rem;
    font-weight: 700;
    color: #969697;
    padding: 0%;
    height: 4rem;
}

/*
    button_navigait start
*/
.button_navigait {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;



}

.left {
    display: inline-block;
    padding: 1rem 1rem;
    width: 2rem;
    height: 3rem;
    border: 1px solid #707070;
}

.align {
    display: flex;
    align-items: center;
}

.numder_navigait {
    font-size: 2.4rem;
    font-weight: 700;
    color: #F9F7F7;
    background-color: var(--color-clik);
    padding: 1rem 2rem;
    box-sizing: border-box;
    border: 1px solid #707070;

}

.right {
    display: inline-block;
    padding: 1rem 1rem;
    width: 2rem;
    height: 3rem;
    border: 1px solid #707070;

}

/*   
     line start 
*/
.line_page_4 {
    border-bottom: 1px solid #707070;
    box-sizing: border-box;
}

/*
   rating start
*/
.rating {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    box-sizing: border-box;

}

.sub_rating {}

.title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-black)
}

.border_sub_taitle {
    width: 18rem;
    height: 6rem;
    border: 1px solid var(--color-black);
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem 0rem;
    box-sizing: border-box;
}

/*
    imge URL start
*/

.url_container {
    display: flex;
    padding: 3rem 0rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
}

.url_title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-black);
    padding-bottom: 3rem;
    box-sizing: border-box;

}

.line2_page_4 {
    border-bottom: 1px solid #000;
    width: 30%;
}

.url_1 {
    padding-left: 3rem;
    box-sizing: border-box;
}



/*
       page 5 start
*/

.all_section_page_5 {
    width: 100%;
    display: flex;
    padding-top: 5%;
}


.reset_page_5 {
    display: flex;
    padding-top: 1%;
    padding-right: 2%;
    box-sizing: border-box;
}

.label_reset_page_5 {
    display: inline-block;
    width: 14rem;
    background-color: #969697;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 1.6rem;
    box-sizing: border-box;
    color: #FCFCFD;

}

.label_submit_page_5 {
    display: inline-block;
    width: 20rem;
    background-color: var(--color-clik);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.6rem;
    box-sizing: border-box;
    color: #F7F7F9;

}

.G_inform {
    font-size: 2rem;
    font-weight: 400;
    color: #969697;
    padding-left: 3rem;
    padding-top: 2rem;
    box-sizing: border-box;
}

/*form start*/
.name_email {
    display: flex;
    width: 100%;
}

.form_page_5 {
    margin-top: 2.4rem;
    display: flex;
    flex-flow: column;
    padding-left: 3rem;
    width: 100%;
    outline: none;
}

.width_input_5 {
    width: 95%;
}

.width_input_5_2 {
    width: 44.5%;


}

.radio_1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-black);
    display: flex;
    justify-content: end;
    padding-right: 4.6rem;
    padding-top: 2rem;
    color: #969697;
}
.radio_2{
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-black);
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    padding-top: 1rem;
}
input[type="radio"]{
    margin-right: 3rem;
    
}
