html {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;

}

body {
    width: 100%;
    margin: 0px;
    padding: 0;
}

/*header start*/

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fixed_section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    z-index: 10;
    background-color: #202846;
    height: 9rem;

}

a {
    text-decoration: none;
    color: white;
}


.ul_1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.4rem;
    font-weight: 700;


}

.ul_1>li>a {
    margin: 2.7rem;

}

.ul_1>li {
    padding-top: 3rem;
}

.ul_1>a>.iconka,
.SVG {
    padding-top: 1rem;
}

.SVG {
    display: inline-block;
    width: 11.8rem;
    height: 7.5rem;
}

/*sub header start*/

.sub_header {
    background-color: #C6C6DC;
    width: 100%;
    height: 23rem;


}

.sub_header_2 {
    font-size: 4.8rem;
    font-weight: 400;
    font-family: 'PT Sans';
    font-style: italic;
    box-sizing: border-box;
    padding: 13rem 22.7rem;
}

main {
    background-color: #F5F5F5;



}

.margin {
    padding: 5.6rem 21rem;
}

.menu {
    height: 7.3rem;
    background-color: #E8E8E8;
    padding-top: 1.8rem;
    text-align: center;
    box-sizing: border-box;
    font-size: 2.8rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.text_0 {
    width: 95%;

}

.triangle {
    vertical-align: bottom;

}

/*cards start*/
.cards {
    background-color: #BDBDC6;
    display: flex;
    margin-top: 5.6rem;

}

.imge {
    width: 33%;
    margin: 2.8rem 10.3rem;
}

.info {
    width: 48%;

}

.title {
    font-size: 3.6rem;
    font-weight: 700;
    font-family: 'PT Sans';
    font-style: italic;
    color: #353C57;
    padding-top: 2.8rem;


}

.line {
    border-bottom: 3px solid white;
    width: 100%;
}

.text_card {
    font-size: 2.2rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin: 1rem 0rem;
    padding: 30px 20px 30px 20px;
    box-sizing: border-box;
    background-color: #D7D7DD;
}

.detail {
    background-color: #202846;
    border-radius: 2rem;
    padding: .6rem 1.4rem;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;

}

.detail_2 {
    padding-top: 20rem;
    box-sizing: border-box;
    position: absolute;
    left: 82%;
}

.star {
    margin-top: 1rem;
    margin-left: 1rem;
}

.cards:hover {
    background-color: #AEAEE2;
    ;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
    transition: all .5s;
}

.cards:hover .detail {
    background-color: #EF075B;
    transition: all .5s;

}

.cards:hover path {

    fill: #FFFF00;
    transition: all .5s;
}

/*fsxed_div + footer start*/
#fixed_div {
    bottom: 10%;
    width: 100px;
    height: 100px;
    background: rgba(85, 87, 104, 0.62);
    border-radius: 50%;
    position: fixed;
    right: 1%;
    text-align: center;
}

.fixed_img {
    padding-top: 25px;
}

footer {
    background-color: #202846;
    color: white;
    padding: 25px 65px;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;

}

/*виріштв просто переписати бо перевиправляти було довго + щось десь не давало того результату*/















/*.card,.card_2,.card_3,.card_4{
    background-color: #BDBDC6;
    width: 75%;
    height: 250px;
    margin-top: 3rem;
    margin-left: 11rem;
    display: flex;
    justify-content: space-around;
    
    

}
.detail,.detail_2,.detail_3,.detail_4{
    position: absolute;
    background-color: #202846;
    margin-top: 13rem;
    margin-left: -7rem;
    color: white;
    border-radius: 20px;
    padding: 5px 35px;
    font-size: 24px;
    
    
    
    text-align: center;
}
.all_card{
   
}
.star{
    margin-right: 1rem;
    margin-top: 1rem;
}
.box_detail{
    text-align: right;`
}


    

    





.text{
    
   
    background-color:#D7D7DD;
    color: #202846;
    margin-top: 1rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
    font-size: 20px;
}
    

.text_4{
    width: 712px40;
    height: 184px;
    background-color: #D7D7DD;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding: 18px 39px 23px 50px;
    box-sizing: border-box;
    word-break:break-all;
    margin-top: 1%;
}



.title{
    width: 50%;
    height: 200px;
  
    margin-left: 1rem;
    margin-top: 1rem;
   


}
.sub_title{
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    height: 100%;
}
.italic{
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
    color: #202846;
}
.font-style-italic{
    font-family: 'PT Sans';
    font-style: italic;
}

.line{
    width: 96%;
    height: 1px;
    background-color: white;
   
}

.imge{
    padding-left: 2rem;
    padding-top: 0.2rem;
    height: 200px;
}
.svg_off{
   
    
    
}

 .card:hover {
    background-color: #AEAEE2;;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
    transition: all .5s;
 }
 .card:hover .detail{
    background-color: #EF075B;
    transition: all .5s;

 }
 .card:hover .path {

 fill: #FFFF00;
 transition: all .5s;
  
}
 
 
 .card_2:hover {
    background-color: #AEAEE2;;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
    transition: all .5s;
 }
 .card_2:hover .detail_2{
    background-color: #EF075B;
    transition: all .5s;
 }
 .card_2:hover .path_2{
    fill: #FFFF00;
    transition: all .5s;

 }
 .card_3:hover {
    background-color: #AEAEE2;;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
    transition: all .5s;
 }
 .card_3:hover .detail_3{
    background-color: #EF075B;
    transition: all .5s;
 }
 .card_3:hover .path_3{
    fill: #FFFF00;
    transition: all .5s;

 }
 .card_4:hover {
    background-color: #AEAEE2;;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
    transition: all .5s;
 }
 .card_4:hover .detail_4{
    background-color: #EF075B;
    transition: all .5s;
 }
 .card_4:hover .path_4{
    fill: #FFFF00;
    transition: all .5s;

 }*/