html {
    font-size: 10px;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #CCCCCC;


}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style: none;
}

body,
ul,
li,
div,
a {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;

}

.container {
    background-color: #E5E5E5;
    background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
    display: flex;
    justify-content: center;
    padding: 36.1rem 51.2rem;

}


.all_form {
    display: flex;
    width: 144rem;
    height: 104rem;
}

/*box_1 start*/
.box_1 {
    width: 78.7rem;
    height: 104rem;
    background-color: var(--white);
    background-image: url("../style/style.svg");
    background-repeat: no-repeat;


}

.kreativ_2 {
    margin-top: 4rem;
    margin-left: 6.4rem;
}

.kreativ {
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 4rem;
    
    background-image: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* спроюував додати градієн до тексту.
    Вийшло але до кінця не розумію як воно працює*/

}

/*form start*/
.form {
    padding: 0rem 20rem;
    padding-top: 20rem;
    padding-bottom: 3.2rem;
}

.sub_kreativ {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 8rem;
}

.lable {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    margin-top: 2.4rem
}

input {
    width: 40rem;
    height: 3rem;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    border-radius: 4px;
    padding-left: 1.6rem;
}

.sub_pass,
.and_location {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grey)
}

.and_location {
    display: contents;
    /* не розумів як поставити без флексу методом
    підбору вийшло через contents*/
}


.submit {
    display: inline-block;
    width: 40.5rem;
    height: 4rem;
    background-color: #27485D;
    border: 1px solid #284A5E;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 2px rgb(204 204 204 / 10%);
    margin-top: 2.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    padding-top: 1rem;
    box-sizing: border-box;
    color: white;
}


input[type="submit"] {
    display: none;
}

/* sub form start*/
.footer {
    display: flex;
    justify-content: center;

}

.Question {
    font-size: 1.6rem;
    font-weight: 700;
    color: #C4C4C4;

}

.login {
    text-decoration: revert;
    font-size: 1.6rem;
    font-weight: 700;
    color: #476D73;
    margin-left: 0.8rem
}

/*box_2 start*/
.box_2 {
    width: 65.3rem;
    height: 104rem;
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);

}

.ul_1 {
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    justify-content: end;
    margin-top: 4rem;
    margin-right: 15.1rem;

}

.ul_1>li>a {
    margin: 0rem 1.2rem;
}

.title {
    font-size: 6.4rem;
    font-weight: 700;
    color: var(--white);

}

.title {
    text-shadow: 5px 4px 1px rgba(255, 255, 255, .5);
    padding-top: 28.5rem;
    width: 62%;
    padding-left: 9.5rem;

}

.sub_title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    padding-top: 1.8rem;
    padding-left: 9.5rem;

}