body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    /* Width: 1400px*/
}

.h1 {
    margin: 60px 0;
    font-size: 48px;
    font-weight: 700;

}

.line {
    width: 361px;
    border-bottom: 5px solid #33B8F1;
    margin-bottom: 121px;
}

.header {
    font-weight: 700;
    font-size: 48px;
    color: #0BBBD3;
    text-align: center;
    max-height: 103px;
    padding: 20px 0;
}

.span-header {
    color: black;
}

.fon {
    height: 852px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/Успенський\ собор\ 1.jpg");
    padding-top: 218px;
    padding-left: 80px;
    box-sizing: border-box;
}

.content {
    background-image: url("../img/flag.png");
    height: 388px;
    background-repeat: no-repeat;
    width: 65%;
    padding-left: 59px;
    padding-top: 65px;
    font-size: 64px;
    box-sizing: border-box;
    color: white
}

.main {
    padding: 0 80px;


}

.card {
    border: 1px solid black;
    width: 30%;
    color: #030303;
    display: inline-block;
    vertical-align: top;
    height: 481px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

}



.card-imge {
    /* Коли працюємо із зображеням завжди вказуєм ширину 100%
    страхуємо себе щоб катинка не виходила за межі батьківського елементу*/
    width: 100%;
}

.card_margin {
    margin: 4, 5%;
}

.card__title {
    font-size: 36px;
    padding: 10px;
    box-sizing: border-box;
}

.card__subtitle {
    font-size: 32px;
    color: #595050;
    font-weight: 400;
    padding: 10px;
    box-sizing: border-box;
}

.card__title_1 {
    color: #040505;
    /*от це колір вказаний в макеті у інших одинаковий*/
    font-size: 36px;
    padding: 10px;
    box-sizing: border-box;

}

.h1_0 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;

}

.line_2 {
    width: 361px;
    border-bottom: 5px solid #33B8F1;
    margin: 0 auto;
    margin-top: 16px;

}

.design {
    height: 877px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/Дизайн\ без\ назви\ \(1\)\ 1.png");
    padding-bottom: 80%;
    box-sizing: border-box;
}

.donat {
    /*задав певні правила візуально підходить як правильно це зробити не розумію
    можливо варіант як background-imge? */
    font-weight: 700;
    font-size: 48px;
    text-align: center;

}

.a_5 {
    color: white;
    background-color: #33ADF1;
    width: 430px;
    height: 74px;
    border-radius: 0;
}

.fon__foot {
    background-image: url("../img/Rectangle\ 11.png");
    height: 405px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 176px;
}

.content__foot {
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    color: #0BBBD3;
    padding-top: 49px;
    box-sizing: border-box;
}

.email {
    font-size: 32px;
    font-weight: 400;
    color: #353949;
    text-align: center;
    padding-top: 25px;
    font-family: 'Inder', sans-serif;
    /* в макеті вказаний індер тільки на email та номері*/
    box-sizing: border-box;



}

.nomber {
    font-size: 32px;
    font-weight: 400;
   
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    font-family: 'Inder', sans-serif;
    

}

a {
    display: inline-block;
    width: 68px;
    height: 64px;
    text-decoration: none;
    background-color: #0931BF;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 8px 0px;
    vertical-align: top;
    margin: 42px 35px
}

.a_1 {
    text-align: center;
    margin-left: 516px;
    box-sizing: border-box;
    padding: .8rem 0
}

.a_4 {
    text-align: center;
    padding: 0.7rem;
    box-sizing: border-box;
}

.a_6{
    display: inline-block;
    width: 307px;
    height: 43px;
    color: #353949;
    background-color: #0A2DA9;
    margin: 0 0;
    box-sizing: border-box
    

}
