html {
    font-size: 10px;
    --background: #E5E5E5;
    --text_black: #000000;
    --text_headr: #FFFCFC;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Rosario', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

header {
    width: 100%;

    background-color: var(--text_black);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;

}

.logo {
    width: 20%;
}

.logo>img {
    max-width: 100%;
}

.navigation {
    width: 80%;
    margin: 0px 0px 0px 10px;


}

.ul_header {
    width: 100%;
    display: flex;
    font-size: 3.6rem;
    font-weight: 700;
    font-family: italic;
    justify-content: end;


}

.li_header {
    padding-right: 3%;
}

main {
    padding: 0 4rem;
    background-color: var(--background);
    box-sizing: border-box;
}










@media (max-width:992px) {


    .left_container {
        flex-flow: column-reverse;

    }

    .right_container {
        flex-flow: column;

    }

}



@media (max-width:1619px) {
    main {
        padding: 0 0;
        transition: .5s;
    }
}

@media (max-width:1200px) {
    .a_header {
        font-size: 3rem;
        transition: 1s;
    }
}

@media (max-width:1060px) {
    .a_header {
        font-size: 2.6rem;
        transition: 1s;
    }
}

@media (max-width:860px) {
    .a_header {
        font-size: 2.3rem;
        transition: 1s;
    }

    .ul_header {
        font-size: 0;
    }

}

@media (max-width:767px) {
    .a_header {
        font-size: 2rem;
        transition: 1s;
    }


}

@media (max-width:660px) {
    .a_header {
        font-size: 1.8rem;
        transition: 1s;
    }
}

@media (max-width:600px) {
    .a_header {
        font-size: 1.5rem;
        transition: 1s;
    }
}

@media (max-width:500px) {
    .a_header {
        font-size: 1.2rem;
        transition: 1s;
    }
}

@media (max-width:400px) {
    .a_header {
        font-size: 1rem;
        transition: 1s;
    }
}





.vh {
    height: 100vh;
    width: 100%;
    overflow: hidden;


}

@media (max-width:992px) {
    .vh {
        height: 100%;
    }
}

@media (max-width:767px) {
    .vh {
        height: 100%;
        display: flex;
        flex-flow: column-reverse;
    }
}

.vh_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12.9rem;
}


@media (max-width:860px) {
    .left_container {
        padding-top: 8rem;
        transition: .5s;
    }
}

@media (max-width:767px) {
    .left_container {
        padding-top: 0;
        transition: .5s;
    }
}


.right_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12.9rem;

}

@media (max-width:860px) {
    .right_container {
        padding-top: 8rem;
        transition: .5s;
    }
}
@media (max-width:600px) {
    .right_container {
        padding-top: 6rem;
        transition: .5s;
    
}
}
@media (max-width:400px) {
    .right_container {
        padding-top: 4rem;
        transition: .5s;
    
}
}


.imge_1_left>img {
    max-width: 100%;
}

.imge_1_right>img {
    max-width: 100%;
}

.imge_1_left,
.imge_1_right {
    padding: 3.5rem;

}

@media (max-width:767px) {
    .imge_1_left {
        padding: .5rem 1rem;

    }

    .imge_1_right {
        padding: .5rem 1rem;
    }

}

.box_left>div>img {
    max-width: 100%;
}

.imge_2_left,
.imge_2_right {
    padding: 2rem 1rem;

}

@media (max-width:767px) {
    .imge_2_left {
        padding: .5rem 1rem;

    }

    .imge_2_right {
        padding: .5rem 1rem;
    }

}

.box_right>div>img {
    max-width: 100%;
}

/*imge left start*/
.imge_1_left {

    position: relative;
    animation-name: box_left;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: .5s;



}

@keyframes box_left {

    0% {
        top: 0;
        left: -100rem;
    }

    50% {
        top: 0%;
        left: -50rem;

    }

    100% {
        top: 0;
        left: 0;
    }
}

/*box_left satrt*/
.box_left {

    position: relative;
    animation-name: box_left;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: .5s;



}

@keyframes box_left {

    0% {
        top: 0;
        left: -100rem;
    }

    50% {
        top: 0%;
        left: -50rem;

    }

    100% {
        top: 0;
        left: 0;
    }
}

/*box right start*/
.box_right {

    position: relative;
    animation-name: box_right;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: .5s;


}

@keyframes box_right {

    0% {
        top: 0;
        left: 100rem;
    }

    50% {
        top: 0%;
        left: 50rem;

    }

    100% {
        top: 0;
        left: 0;
    }
}

.imge_1_right {

    position: relative;
    animation-name: box_right;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: .5s;



}

@keyframes box_right {

    0% {
        top: 0;
        left: 100rem;
    }

    50% {
        top: 0%;
        left: 50rem;

    }

    100% {
        top: 0;
        left: 0;
    }
}






/* page_2 start ---------------------------------------- */
.vh_2 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    font-size: 4.8rem;
    font-weight: 700;
    font-family: 'italic';
    overflow: hidden;
}

@media (max-width:992px) {
    .vh_2 {
        height: 100%;
        flex-flow: column-reverse;
    }
}

.all_ellipses {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;


}

@media(max-width:992) {
    .all_ellipses
}



.ellipse_grup_1,
.ellipse_grup_2 {
    text-align: center;

}

@media (max-width:992px) {
    .ellipse_grup_1 {
        width: 50%;
    }

    .ellipse_grup_2 {
        width: 50%;
    }

}

.ellipse_img {}

@media (max-width:992px) {
    .ellipse_img {
        max-width: 100%;

    }
}

.background {
    width: 50%;
}

@media (max-width:992px) {
    .background {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:767px) {
    .background {
        width: 0;
        height: 0;
    }

}



.p_sub {
    padding-bottom: 5rem;
}

.box_ellipse_1 {
    position: relative;
    animation-name: box_ellipse_1;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: .5s;

}

@keyframes box_ellipse_1 {
    0% {
        top: 0;
        left: 0;


    }

    25% {
        top: 0;
        left: 41rem;

    }

    50% {
        top: 47rem;
        left: 41rem;

    }

    75% {
        top: 47rem;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;

    }
}

.box_ellipse_2 {
    position: relative;
    animation-name: box_ellipse_2;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: .5s;

}

@keyframes box_ellipse_2 {
    0% {
        top: 0;
        left: 0;


    }

    25% {
        top: -47rem;
        left: 0;

    }

    50% {
        top: -47rem;
        left: 41rem;

    }

    75% {
        top: 0;
        left: 41rem;
    }

    100% {
        top: 0;
        left: 0;

    }
}

.box_ellipse_3 {
    position: relative;
    animation-name: box_ellipse_3;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: .5s;

}

@keyframes box_ellipse_3 {
    0% {
        top: 0;
        left: 0;


    }

    25% {
        top: 47rem;
        left: 0;

    }

    50% {
        top: 47rem;
        left: -41rem;

    }

    75% {
        top: 0;
        left: -41rem;
    }

    100% {
        top: 0;
        left: 0;

    }
}

.box_ellipse_4 {
    position: relative;
    animation-name: box_ellipse_4;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: .5s;

}

@keyframes box_ellipse_4 {
    0% {
        top: 0;
        left: 0;


    }

    25% {
        top: 0;
        left: -41rem;

    }

    50% {
        top: -47rem;
        left: -41rem;

    }

    75% {
        top: -47rem;
        left: 0rem;
    }

    100% {
        top: 0;
        left: 0;

    }
}


/*page 3 satrt----------------------------------*/
.vh_3 {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    overflow: hidden;

}

@media {
    .vh_3 {
        height: 100%;
    }

}

.title {
    font-size: 9.6rem;
    font-weight: 700;
    color: var(--text_black);
    text-align: center;
    padding-top: 9rem;
}

@media (max-width:1300px) {
    .title {
        font-size: 8.6rem;
    }

}

@media (max-width:860px) {
    .title {
        font-size: 7.6rem;
    }

}

@media (max-width:767px) {
    .title {
        font-size: 4.6rem;
    }
}

@media (max-width:460px) {
    .title {
        font-size: 2.6rem;
    }
}


.all_cards {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    width: 100%;
}

@media (max-width:992px) {
    .all_cards {
        flex-flow: column;
    }

}

.box_cards_1,
.box_cards_2 {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:992px) {

    .box_cards_1,
    .box_cards_2 {
        width: 100%;
    }

}

@media (max-width:767px) {

    .box_cards_1,
    .box_cards_2 {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:460px) {

    .cards_1,
    .cards_2,
    .cards_3,
    .cards_4 {
        max-width: 100%;
    }

}


.cards_1,
.cards_2,
.cards_3,
.cards_4 {
    width: 40.4rem;
    height: 67.7rem;
    border-radius: 40px;
    font-size: 4.8rem;
    font-weight: 400;
    font-family: 'Volkho';
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem;
}


.cards_2 {
    width: 39.2rem;

}

.cards_3 {
    width: 40rem;
}

.cards_4 {
    width: 39.6rem;
}

.cards_1 {
    background-image: url("../imge/people\ 1.png");
}

.cards_2 {
    background-image: url("../imge/people\ 2.png");
}

.cards_3 {
    background-image: url("../imge/people\ 3.png");
}

.cards_4 {
    background-image: url("../imge/people\ 4.png");
}

span,
.sapn_2,
.span_3,
.span_4 {
    color: rgba(0, 0, 0, 0)
}

.cards_1:hover span,
.cards_2:hover span {
    width: 100%;
    display: block;
    height: 15.5rem;
    background: rgba(163, 83, 10, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52.1rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #FFFAFA;
}

.cards_3:hover .span_3,
.cards_4:hover .span_4 {
    width: 100%;
    display: block;
    height: 15.5rem;
    background: rgba(163, 83, 10, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52.1rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #FFFAFA;

}

.all_cards:hover .cards_1,
.all_cards:hover .cards_2,
.all_cards:hover .cards_3,
.all_cards:hover .cards_4 {
    filter: brightness(.5);
    transition: all .3s;
}

.all_cards>.box_cards_1>.cards_1:hover,
.all_cards>.box_cards_1>.cards_2:hover,
.all_cards>.box_cards_2>.cards_3:hover,
.all_cards>.box_cards_2>.cards_4:hover {
    filter: brightness();
    transition: all .8s;
}

/*page 4 start--------------------------------*/
.vh_4 {
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    padding: 0 10rem;
    box-sizing: border-box;
}
@media (max-width:1600px) {
    .vh_4{
        padding: 0 1rem;
        height: 100%;
    }
    
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
@media (max-width:992px) {
  .container{
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }  
}
@media (max-width:767px){
    .container{
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

.section_1 {
    width: 55%;
}
@media (max-width:992px){
    .section_1{
        width: 100%;
    }
}

.title_vh_4 {
    font-size: 6.4rem;
    font-weight: 700;
    font-family: 'italic';
    color: var(--text_black);
    width: 100%;
    text-align: center;
    padding-top: 5rem;

}
@media (max-width:767px){
    .title_vh_4{
        font-size: 3.4rem;
    }
}

.form_vh_4 {
    background-color: #cfcfcf;
    margin-top: 2rem;
    min-height: 40rem;


}

form {
    padding: 3rem;
    box-sizing: border-box;
}

input[type="text"] {
    font-size: 3.6rem;
    font-weight: 700;
    color: #000000 50%;

}

form>input,
.name_email>input {
    padding-left: 2rem;
    outline: none;
}

input {
    width: 45%;
    height: 8rem;
}

form>input {
    height: 20rem;
    width: 100%;
    margin-top: 4.5rem;
    padding-left: 2rem;
    padding-bottom: 15rem;
    box-sizing: border-box;
    outline: none;


}

input[type="email"] {
    margin-left: 4.5rem;
    font-size: 3.6rem;
    font-weight: 700;
    color: #000000 50%;

}

.name_email {
    display: flex;
    justify-content: space-between;

}



.section_2 {
    width: 40%;
    padding-left: 9rem;
}
@media (max-width:1600px) {
    .section_2{
        width: 0 auto;
        padding-left: 0;
       
    }
    
}
@media (max-width:992px){
    .section_2{
        padding-top: 2rem;
        width: auto;
    }
}

.map {
   
   
}

/*footer start--------------------- */
.footer {
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'italic';
    color: var(--text_black);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 7rem;
    box-sizing: border-box;
}
@media (max-width:1400px) {
    .footer{
        font-size: 2.5rem;
    }
}
@media (max-width:992px){
    .footer{
        font-size: 2rem;
    }
}
@media (max-width:767px){
    .footer{
        font-size: 3rem;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
}

.info_footer {
    width: 35%;
}
@media (max-width:767px){
   .info_footer{
    width: 100%;
   } 
}

.info_footer>div>a {
    color: var(--text_black);
}

.info_footer>div>a>span {
    font-weight: 700;
    color: var(--text_black);
}

.hours_footer {
    width: 35%;
}
@media (max-width:767px){
    .hours_footer{
        width: 100%;
        padding-top: 2rem;
    }
}

.hours_title {
    font-weight: 700;
    padding-bottom: 2rem;
}

.connect_footer {
    width: 20%;
    display: flex;
    flex-flow: column;
}
@media (max-width:767px){
    .connect_footer{
        width: 100%;
        padding: 2rem;
    }
}

.connect_title {
    font-weight: 700;
}

.connect_footer>div>a {
    padding-left: 2rem;
    padding-top: 1rem;
    color: var(--text_black);

}

.insta {
    padding-top: 1rem;
}

.facebook {
    padding-right: 1rem;
}

.twitter {
    padding-right: 3rem;
}

.connect_footer>div>a:hover {
    color: blue;
    transition: .5s;
}